# Configurazione Server
PORT=5000

# Connessione MongoDB Atlas
# Sostituisci <db_user> e <db_password> con le credenziali create su Atlas
MONGO_URI=mongodb+srv://<db_user>:<db_password>@cluster0.xxxxx.mongodb.net/nome_del_db?retryWrites=true&w=majority

