# Configurazione Server
PORT=5000

# Connessione MongoDB Atlas
# Sostituisci <db_user> e <db_password> con le credenziali create su Atlas
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/riciclapp
DB_NAME=riciclapp

